<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>BotNet</h1>
        <form action="/start_attack" method="post" enctype="multipart/form-data" class="form">
            <label class="label" for="url">URL:</label>
            <input type="text" name="url" id="url" required><br><br>
            <label class="label" for="file">File:</label>
            <input type="file" name="file" id="file" required><br><br>
            <div class="button-group">
                <button class="button button-red" type="submit">Start Attack</button>
            </div>
        </form>
        <br>
        <div class="button-group">
            <a href="/update" class="button button-green">Update</a>
        </div>
    </div>
</body>
</html>
