<!-- home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home Page</h1>
    <form action="/start_attack" method="post" enctype="multipart/form-data">
        <label for="url">URL:</label>
        <input type="text" name="url" id="url" required><br><br>
        <label for="file">File:</label>
        <input type="file" name="file" id="file" required><br><br>
        <button type="submit">Start Attack</button>
    </form>
    <br>
    <a href="/update">Update</a>
</body>
</html>
