<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistics</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Statistics Page</h1>
        <p>Request Time: {{ request_time }}</p>
        <p>Throughput: {{ throughput }}</p>
        <p>IP Status: {{ ip_status }}</p>
        <form action="/" method="get">
            <div class="button-group">
                <button class="button button-green" type="submit">Attack another IP</button>
            </div>
        </form>
    </div>
</body>
</html>
