<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Update Page</h1>
        <form action="/update" method="post" enctype="multipart/form-data" class="form">
            <label class="label" for="file">File:</label>
            <input type="file" name="file" id="file" required><br><br>
            <div class="button-group">
                <button class="button button-green" type="submit">Update</button>
            </div>
        </form>
        <br>
        <div class="button-group">
            <a href="/" class="button button-red">Return to Home</a>
        </div>
    </div>
</body>
</html>
